@import "tailwindcss";
.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 2px;
  width: fit-content;
  margin: auto;
}

.cell {
  width: 28px;
  height: 28px;
  border: 1px solid black;
}
.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 800ms, transform 800ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 800ms, transform 800ms;
}
@keyframes clickSparkle {
  0% {
    box-shadow: 0 0 0px rgba(255, 105, 180, 0);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 105, 180, 0.7);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 105, 180, 0);
  }
}

.animate-click-sparkle {
  animation: clickSparkle 0.5s ease-in-out;
}
